.form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  .comment__input {
    width: 80%;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-bottom: 0.5px solid rgba(220, 220, 220, 0.651);
    margin-bottom: 10px;
    color: rgb(60, 60, 60);
    &:focus {
      outline: none;
    }
  }
  .send {
    width: 80px;
    height: 35px;
    background-color: rgb(60, 60, 255);
    color: #fff;
    font-weight: 600;
    cursor: pointer;
  }
}
