.comments__block {
  display: flex;
  flex-direction: column;
  .comment {
    display: inline-flex;
    gap: 10px;

    &__info {
      margin-bottom: 20px;
    }
    .user__img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      // background-color: gray;
    }
  }
}
