.wrapper {
  display: flex;
  justify-content: space-between;

  .sidebar {
    width: 230px;
    display: flex;
    flex-direction: column;
    gap: 50px;

    .tags,
    .comments {
      // border: 1px solid black;
      padding: 20px;
      background-color: #fff;

      &__list {
        padding-top: 10px;
      }
    }
    .comments__list__item {
      display: flex;
      gap: 5px;
      .user__img {
        width: 17px;
        height: 17px;
        border-radius: 50%;
        background-color: black;
      }
    }

    ul {
      list-style-type: none;
    }
  }
}
